h1{
    text-align: center;
}
h2{
    margin-bottom: 0px;
}
.list{
    border: 2px solid black;
    padding: 5px 20px
}
.button{
    padding: 8px 20px;
    border: 2px solid black;
    background-color: yellow;
}
.img{
   display:block;
   padding:0px;
   margin-right: 10px;
   float:left;
}
.card{
    display: inline;
}
.title{
    display: block;
}
.lblock{
    display:block;
    clear:left;
}